/* Add font Martel Sans */

@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@600&display=swap');

/* Poppins  */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');



/* Universal Style */

*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}



.main{
    background-image: url(assets/image/bg.jpg);
    /* at the time of resizing the navbar become at center only*/
    background-position: center center;
    background-size: max(1200px , 100vw);
    background-repeat: no-repeat;
    height: 80vh;
    position: relative;
    
}

/* To achive the opacity on background-image */
.main .box{
    height: 80vh;
    width: 100%;
    opacity: 0.44;
    background-color: black;
    position: absolute;
    top: 0;
}

nav{
    display: flex;
    /* give the space around the child inside the nav */
    justify-content: space-between;
    align-items: center;
    /* make navbar width 80% width of viewport width  */
    max-width: 80vw;
    /* move to navbar center at equi distant from left and right */
    margin: auto;
    height: 62px;
}

nav img{
    width:114px ;
    /* To move most upper layer as image */
    position: relative;
    z-index: 10;
}

nav button{
    position:relative ;
    z-index: 10;
}

.hero{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color:#fff;
    /* So that content present in it display pop out */
    position: relative;
    /* font family */
    font-family: "Martel Sans", sans-serif;

}

/* WhatFont website use to check what type of fond is given. */

.hero :first-child{
    font-weight: bolder;
    font-size:48px;
}